<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.dao.WeakPassDao">
  <!-- 目的：为dao接口方法提供sql语句配置 -->
  <select id="queryById" resultType="WeakPass" parameterType="long">
    <!-- 具体的sql -->
    SELECT
    id,
    port,
    ip
    FROM
    t_weak_pwd
    WHERE
    id = #{id}
  </select>

  <select id="queryAll" resultType="WeakPass">
    SELECT
    id,
    ip,
    port
    FROM
    t_weak_pwd
    ORDER BY
    id
    LIMIT #{offset}, #{limit}
  </select>


</mapper>